In [0]:
%sql
SELECT COUNT(*) AS total_records
FROM big_data_workshop.gold_data.clean_df;

total_records
7490845

In [0]:
%sql
SELECT *
FROM big_data_workshop.gold_data.clean_df
LIMIT 10;

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1,2019-01-01T00:46:40.000Z,2019-01-01T00:53:20.000Z,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,null
1,2019-01-01T00:59:47.000Z,2019-01-01T01:18:59.000Z,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.0,0.0,0.3,16.3,null
1,2019-01-01T00:21:28.000Z,2019-01-01T00:28:37.000Z,1,1.3,1,N,163,229,1,6.5,0.5,0.5,1.25,0.0,0.3,9.05,null
1,2019-01-01T00:32:01.000Z,2019-01-01T00:45:39.000Z,1,3.7,1,N,229,7,1,13.5,0.5,0.5,3.7,0.0,0.3,18.5,null
1,2019-01-01T00:57:32.000Z,2019-01-01T01:09:32.000Z,2,2.1,1,N,141,234,1,10.0,0.5,0.5,1.7,0.0,0.3,13.0,null
1,2019-01-01T00:24:04.000Z,2019-01-01T00:47:06.000Z,2,2.8,1,N,246,162,1,15.0,0.5,0.5,3.25,0.0,0.3,19.55,null
1,2019-01-01T00:21:59.000Z,2019-01-01T00:28:24.000Z,1,0.7,1,N,238,151,1,5.5,0.5,0.5,1.7,0.0,0.3,8.5,null
1,2019-01-01T00:45:21.000Z,2019-01-01T01:31:05.000Z,1,8.7,1,N,163,25,1,34.5,0.5,0.5,7.15,0.0,0.3,42.95,null
1,2019-01-01T00:43:19.000Z,2019-01-01T01:07:42.000Z,1,6.3,1,N,224,25,1,21.5,0.5,0.5,5.7,0.0,0.3,28.5,null
1,2019-01-01T00:58:24.000Z,2019-01-01T01:15:18.000Z,1,2.7,1,N,141,234,1,13.0,0.5,0.5,1.0,0.0,0.3,15.3,null

In [0]:
%sql
SELECT 
    HOUR(tpep_pickup_datetime) AS pickup_hour,
    COUNT(*) AS total_trips,
    ROUND(SUM(fare_amount), 2) AS total_revenue,
    ROUND(AVG(fare_amount), 2) AS avg_fare
FROM big_data_workshop.gold_data.clean_df
GROUP BY pickup_hour
ORDER BY pickup_hour;

pickup_hour,total_trips,total_revenue,avg_fare
0,202991,2642427.12,13.02
1,145842,1799008.24,12.34
2,106690,1273399.34,11.94
3,75955,949707.93,12.5
4,59090,861524.92,14.58
5,72143,1083391.97,15.02
6,171911,2111153.28,12.28
7,296088,3489734.38,11.79
8,364009,4306793.7,11.83
9,356647,4242580.05,11.9
10,351986,4196883.86,11.92
11,365730,4275507.0,11.69
12,390152,4625564.14,11.86
13,392727,4796055.51,12.21
14,420493,5241659.29,12.47
15,439019,5442265.44,12.4
16,407247,5145333.79,12.63
17,455052,5491085.58,12.07
18,502459,5814781.8,11.57
19,464183,5993253.63,12.91
20,413461,4974043.43,12.03
21,400554,5001938.8,12.49
22,360912,4574864.25,12.68
23,275504,3583495.03,13.01

In [0]:
%sql
SELECT 
    passenger_count,
    COUNT(*) AS trip_count,
    ROUND(AVG(fare_amount),2) AS avg_fare
FROM big_data_workshop.gold_data.clean_df
GROUP BY passenger_count
ORDER BY passenger_count;

passenger_count,trip_count,avg_fare
1,5409174,12.24
2,1106548,12.44
3,312933,12.27
4,139877,12.35
5,322363,12.2
6,199932,12.15
7,7,52.0
8,10,69.72
9,1,90.0

In [0]:
%sql
SELECT 
    CASE 
        WHEN trip_distance < 2 THEN '0-2 km'
        WHEN trip_distance < 5 THEN '2-5 km'
        WHEN trip_distance < 10 THEN '5-10 km'
        ELSE '10+ km'
    END AS distance_bucket,
    COUNT(*) AS total_trips,
    ROUND(AVG(fare_amount),2) AS avg_fare,
    ROUND(SUM(fare_amount),2) AS total_revenue
FROM big_data_workshop.gold_data.clean_df
GROUP BY distance_bucket
ORDER BY total_trips DESC;

distance_bucket,total_trips,avg_fare,total_revenue
0-2 km,4615823,7.08,3.269932251E7
2-5 km,1887743,13.76,2.597887392E7
5-10 km,566749,24.33,1.37897971E7
10+ km,420530,46.25,1.944845895E7

In [0]:
%sql
SELECT 
    DATE(tpep_pickup_datetime) AS trip_date,
    ROUND(SUM(fare_amount),2) AS daily_revenue,
    COUNT(*) AS total_trips
FROM big_data_workshop.gold_data.clean_df
GROUP BY trip_date
ORDER BY trip_date;

trip_date,daily_revenue,total_trips
2008-12-31,278.0,22
2009-01-01,643.5,44
2018-12-30,124.5,9
2018-12-31,4856.5,339
2019-01-01,2508772.86,184701
2019-01-02,2511914.28,193372
2019-01-03,2726398.76,217862
2019-01-04,2767112.39,229660
2019-01-05,2624698.45,231069
2019-01-06,2503460.73,203614
2019-01-07,2696943.27,222502
2019-01-08,2787060.79,230835
2019-01-09,3005385.14,248968
2019-01-10,3338610.19,274308
2019-01-11,4089810.7,283718
2019-01-12,3008105.03,258544
2019-01-13,2669999.05,221771
2019-01-14,2930563.42,238252
2019-01-15,3183624.71,259872
2019-01-16,3297141.38,265128
2019-01-17,3459682.1,276837
2019-01-18,3224810.51,259466
2019-01-19,2632135.34,230647
2019-01-20,2216249.58,198264
2019-01-21,2244476.02,187698
2019-01-22,3076036.38,247729
2019-01-23,3187476.17,254037
2019-01-24,3434882.59,274298
2019-01-25,3530948.61,284131
2019-01-26,3074580.53,265240
2019-01-27,2700534.51,214714
2019-01-28,2868034.66,234226
2019-01-29,3036935.13,252754
2019-01-30,3180904.47,269390
2019-01-31,3392142.23,276730
2019-02-01,735.0,61
2019-02-02,23.5,3
2019-02-04,26.5,2
2019-02-13,35.5,1
2019-02-23,21.5,1
2019-02-25,19.0,2
2019-03-17,16.5,2
2019-03-19,23.5,3
2019-04-07,23.0,1
2019-04-09,21.5,2
2019-04-28,38.5,3
2019-05-20,20.5,1
2019-06-10,21.0,2
2019-07-01,35.0,5
2019-07-23,14.5,1
2019-08-13,21.5,1
2019-09-03,4.5,1
2088-01-24,19.0,2

In [0]:
%sql
SELECT 
    HOUR(tpep_pickup_datetime) AS pickup_hour,
    ROUND(SUM(fare_amount),2) AS total_revenue
FROM big_data_workshop.gold_data.clean_df
GROUP BY pickup_hour
ORDER BY total_revenue DESC
LIMIT 5;

pickup_hour,total_revenue
19,5993253.63
18,5814781.8
17,5491085.58
15,5442265.44
14,5241659.29

In [0]:
%sql
SELECT 
    ROUND(AVG(fare_amount / trip_distance),2) AS avg_fare_per_km
FROM big_data_workshop.gold_data.clean_df;

avg_fare_per_km
7.54

In [0]:
%sql
SELECT *
FROM (
    SELECT 
        passenger_count,
        fare_amount,
        trip_distance,
        ROW_NUMBER() OVER (
            PARTITION BY passenger_count
            ORDER BY fare_amount DESC
        ) AS rank
    FROM big_data_workshop.gold_data.clean_df
) ranked
WHERE rank = 1;

passenger_count,fare_amount,trip_distance,rank
1,623259.86,2.4,1
2,492.5,110.04,1
3,330.0,62.15,1
4,415.0,0.01,1
5,760.0,214.01,1
6,262.5,63.15,1
7,78.0,23.79,1
8,85.0,0.01,1
9,90.0,13.38,1

In [0]:
%sql
SELECT 
    passenger_count,
    ROUND(SUM(fare_amount),2) AS total_revenue,
    ROUND(
        SUM(fare_amount) * 100 /
        SUM(SUM(fare_amount)) OVER (),
    2) AS revenue_percentage
FROM big_data_workshop.gold_data.clean_df
GROUP BY passenger_count
ORDER BY revenue_percentage DESC;

passenger_count,total_revenue,revenue_percentage
1,6.622562257E7,72.05
2,1.376155173E7,14.97
5,3931356.9,4.28
3,3840704.46,4.18
6,2429209.26,2.64
4,1726856.36,1.88
8,697.2,0.0
7,364.0,0.0
9,90.0,0.0